*.iml
.gradle/
.kotlin/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
keystore.properties
release/
fdroid/repo/
fdroid/tmp/
fdroid/archive/
app/src/main/jniLibs/

docs/
